Repository GTNewHorizons/GT-New-Horizons-Modpack, pull requests merged in 2025-08, with the labels that each got.

#20699 SMD Inductor Skip Quest
  config/betterquesting/DefaultQuests/Quests/NoQuestLine/TriggerSMDInduct-f9GkFpTbRruEZReIz7sGuA==.json
  config/betterquesting/DefaultQuests/Quests/Tier3HV-AAAAAAAAAAAAAAAAAAAABQ==/SmallCoil-AAAAAAAAAAAAAAAAAAAD-w==.json
Labels: Type: Quest

#20688 Adds More Space Lootbags & Hint for Trigger Quest
  config/betterquesting/DefaultQuests/Quests/AdeptThaumaturgy-AAAAAAAAAAAAAAAAAAAAFw==/CheckYourWarpFor-TBMfXgORRHuggrozS7vsVA==.json
  config/betterquesting/DefaultQuests/Quests/SpaceRace-AAAAAAAAAAAAAAAAAAAAIg==/AReward-AAAAAAAAAAAAAAAAAAAA1g==.json
  config/betterquesting/DefaultQuests/Quests/SpaceRace-AAAAAAAAAAAAAAAAAAAAIg==/MarsDungeon-AAAAAAAAAAAAAAAAAAAFpg==.json
  config/betterquesting/DefaultQuests/Quests/SpaceRace-AAAAAAAAAAAAAAAAAAAAIg==/RocketLaunchPad-AAAAAAAAAAAAAAAAAAADNA==.json
  config/betterquesting/DefaultQuests/Quests/SpaceRace-AAAAAAAAAAAAAAAAAAAAIg==/RocketTier1-AAAAAAAAAAAAAAAAAAADKg==.json
  config/betterquesting/DefaultQuests/Quests/SpaceRace-AAAAAAAAAAAAAAAAAAAAIg==/RocketTier2-AAAAAAAAAAAAAAAAAAAFlQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier2MV-AAAAAAAAAAAAAAAAAAAABA==/Transistor-AAAAAAAAAAAAAAAAAAADEQ==.json
Labels: Type: Quest

#20696 Adds EFR Shulker Box Quests
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/APortableBarrel-EDtFbLVvQX2Y5mQp84W9bw==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CompactStorage-QNsm_wc0QO2g9C6_-vj2fA==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CopperBarrel-9B9CvQD0R8iLv-CBMTYZGQ==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CopperShulkerBox-dbax1OsmRpWMg6Pt4tE_ig==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CrystalChest-e-VLKN-JSRK3V2cmDbm6rw==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CrystalShulkerBo-DSkXvzhRSKiwFLJywGDMRg==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DarkSteelBarrel-dNDuychlSiqlrMhfnEKK_w==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DarksteelChest-t6xRGFm_S2SG6_-xNh8mwQ==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DiamondBarrel-PjAewUoJTnilPpIT-Ce0tA==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DiamondChestsOoo-AAAAAAAAAAAAAAAAAAAERg==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DiamondShulkerBo-aIt1E54yQaSOg4CMz-Xegw==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DraconicChest-njQqj1iCTK-64uA4HfSdVw==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/EvenMoreCompactS-AAAAAAAAAAAAAAAAAAAERw==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/GoldBarrel-GuylOTxSSraeAtj16fZ9-w==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/GoldShulkerBox-YFUK2QflT1G3_WC8XBp2Wg==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/IronBarrel-ne_onBK6TP2F_ySPabM7Lw==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/IronShulkerBox-StA9TvxxSi2n2c7wQdCAFA==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/MoreCompactStora-AAAAAAAAAAAAAAAAAAAEPQ==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/NeedaPlaceForAll-AAAAAAAAAAAAAAAAAAAF7Q==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/ObsidianBarrel-KfgATF33ToiE0aYS4pp04Q==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/ObsidianChest-QMlw6Z67T5-y_qflA7On2Q==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/ObsidianShulkerB-MbFXZcovQ1GRxQCeS2PUuw==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/ShulkerUpgrades-Zza5BrD7TduqKby_b3wQsQ==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/SilverBarrel-fhzjYvdATJuUQTMUO1pVvA==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/SilverShulkerBox-nc1Pqje3RIe_Yp6WoPOFzg==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/SteelBarrel-25yJ-u9OSG-GiMnQY9vWfQ==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/SteelChest-V4jinTYRSueIrEqn90dRzQ==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/Thefutureishere-V9BupH47RI6RWX6vff5dpw==.json
  config/betterquesting/DefaultQuests/QuestLines/CoinsCoinsCoins-AAAAAAAAAAAAAAAAAAAAEA==/Shulker-C8FHZDizTnax3tt7HvnkBw==.json
  config/betterquesting/DefaultQuests/QuestLines/NoviceThaumaturg-AAAAAAAAAAAAAAAAAAAAFg==/APortableBarrel-EDtFbLVvQX2Y5mQp84W9bw==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CopperShulkerBox-dbax1OsmRpWMg6Pt4tE_ig==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CrystalShulkerBo-DSkXvzhRSKiwFLJywGDMRg==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DiamondShulkerBo-aIt1E54yQaSOg4CMz-Xegw==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DraconicChest-njQqj1iCTK-64uA4HfSdVw==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/GoldShulkerBox-YFUK2QflT1G3_WC8XBp2Wg==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/IronShulkerBox-StA9TvxxSi2n2c7wQdCAFA==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/ObsidianShulkerB-MbFXZcovQ1GRxQCeS2PUuw==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/ShulkerUpgrades-Zza5BrD7TduqKby_b3wQsQ==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/SilverShulkerBox-nc1Pqje3RIe_Yp6WoPOFzg==.json
  config/betterquesting/DefaultQuests/Quests/CoinsCoinsCoins-AAAAAAAAAAAAAAAAAAAAEA==/Shulker-C8FHZDizTnax3tt7HvnkBw==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/APortableBarrel-EDtFbLVvQX2Y5mQp84W9bw==.json
Labels: Type: Quest

#20355 Update QFT Quests
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/CatalyzingMiracl-AAAAAAAAAAAAAAAAAAAM2Q==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/FocusingSciencea-AAAAAAAAAAAAAAAAAAAM2A==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier2Manipulatin-Mf1D7e-LTaW3rbBRYmxBAQ==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier2Shielding-AAAAAAAAAAAAAAAAAAAM2g==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier3Manipulatin-vK1Ed8HPTTms4QxfaA_P8Q==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier3Shielding-AAAAAAAAAAAAAAAAAAAM2w==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier4Manipulatin-tXVcSBqQQnS4tF8VoMqr6Q==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier4Shielding-AAAAAAAAAAAAAAAAAAAM3A==.json
  config/betterquesting/DefaultQuests/Quests/GettingAround-bAal8kZ3R8eRTwaHgbYkKA==/ElectricJetpack-AAAAAAAAAAAAAAAAAAACiw==.json
  config/betterquesting/DefaultQuests/Quests/LooktotheEdges-AAAAAAAAAAAAAAAAAAAAGw==/DiamondVapor-AAAAAAAAAAAAAAAAAAAGJg==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier2Manipulatin-Mf1D7e-LTaW3rbBRYmxBAQ==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier2Shielding-AAAAAAAAAAAAAAAAAAAM2g==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier3Focusing-AAAAAAAAAAAAAAAAAAAM2w==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier3Manipulatin-vK1Ed8HPTTms4QxfaA_P8Q==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier3Shielding-AAAAAAAAAAAAAAAAAAAM2w==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier4Manipulatin-tXVcSBqQQnS4tF8VoMqr6Q==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier4Shielding-AAAAAAAAAAAAAAAAAAAM3A==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/Tier4Transformin-AAAAAAAAAAAAAAAAAAAM3A==.json
Labels: Type: Quest

#20747 Egg & SE Dependency Removal
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/ThePowerofInfini-AAAAAAAAAAAAAAAAAAABlQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier8UV-AAAAAAAAAAAAAAAAAAAALQ==/SpaceElevator-AAAAAAAAAAAAAAAAAAAM0w==.json
Labels: Type: Quest

#20779 Backpack & Shulker Bans
  config/Backpack.cfg
  config/adventurebackpack.cfg
  config/etfuturum/functions.cfg
Labels: bug fix

#20789 "See you Lather" Quest Fix
  config/betterquesting/DefaultQuests/Quests/MassProcessing-AAAAAAAAAAAAAAAAAAAAEQ==/SeeYouLather-VJN1qfd5SjCkm7CXVd9Pag==.json
Labels: Type: Quest, bug fix

#20791 Shulker Quest Fixes
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CopperShulkerBox-dbax1OsmRpWMg6Pt4tE_ig==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/GoldShulkerBox-YFUK2QflT1G3_WC8XBp2Wg==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/IronShulkerBox-StA9TvxxSi2n2c7wQdCAFA==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/SilverShulkerBox-nc1Pqje3RIe_Yp6WoPOFzg==.json
  config/betterquesting/DefaultQuests/Quests/CoinsCoinsCoins-AAAAAAAAAAAAAAAAAAAAEA==/Shulker-C8FHZDizTnax3tt7HvnkBw==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/APortableBarrel-EDtFbLVvQX2Y5mQp84W9bw==.json
Labels: Type: Quest, bug fix

#20794 Replaces Hard to Read Dark Blue Quest Titles
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/BakedPotatoes-AAAAAAAAAAAAAAAAAAABug==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/BambooFence-AAAAAAAAAAAAAAAAAAADsg==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/BerryMedley-AAAAAAAAAAAAAAAAAAAB1g==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/CanYouHeartheCar-AAAAAAAAAAAAAAAAAAAB5A==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/CaughtintheWeb-AAAAAAAAAAAAAAAAAAAHMw==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/CollectingSomeBe-AAAAAAAAAAAAAAAAAAAB1Q==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/CowsAreSupposedt-AAAAAAAAAAAAAAAAAAAFww==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/CraftingTime-AAAAAAAAAAAAAAAAAAAEtA==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/CreepingDread-AAAAAAAAAAAAAAAAAAAHMg==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/Evenmorechalleng-AAAAAAAAAAAAAAAAAAABjQ==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/FireFireGrandpa-AAAAAAAAAAAAAAAAAAAACQ==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/FluffyandRed-AAAAAAAAAAAAAAAAAAAADA==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/FoodVariants-AAAAAAAAAAAAAAAAAAAB1w==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/GetThatStone-AAAAAAAAAAAAAAAAAAAACA==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/Goals-AAAAAAAAAAAAAAAAAAABjA==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/LoadingtheChunks-AAAAAAAAAAAAAAAAAAALOg==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/MonsterTrap-AAAAAAAAAAAAAAAAAAADYQ==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/OakTreesAreNotAp-AAAAAAAAAAAAAAAAAAABuA==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/PermanentOffhand-U7JoxM0mRaWx0MYriD2LtQ==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/PorkchopsWithAtt-AAAAAAAAAAAAAAAAAAAHNA==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/RestinPieces-AAAAAAAAAAAAAAAAAAAACg==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/SOTIREDMUSTSLEEP-AAAAAAAAAAAAAAAAAAAADQ==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/SoftMalletAdvent-AAAAAAAAAAAAAAAAAAABvA==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/StayingCoolinthe-AAAAAAAAAAAAAAAAAAAHQA==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/SticksnStones-AAAAAAAAAAAAAAAAAAAAAg==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/StorageForDays-AAAAAAAAAAAAAAAAAAAAAw==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/TellMeWhenWeReac-AAAAAAAAAAAAAAAAAAAHOQ==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/Tools-AAAAAAAAAAAAAAAAAAAABQ==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/WhatYouSow-AAAAAAAAAAAAAAAAAAAABw==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/WherestheFlint-AAAAAAAAAAAAAAAAAAAAAQ==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/YouReap-AAAAAAAAAAAAAAAAAAAABg==.json
  config/betterquesting/DefaultQuests/Quests/AndSoItBegins-AAAAAAAAAAAAAAAAAAAAAA==/YourFirstNight-AAAAAAAAAAAAAAAAAAAAAA==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/AllAloneintheNig-AAAAAAAAAAAAAAAAAAAF1w==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/BackupYourStuff-AAAAAAAAAAAAAAAAAAAF3Q==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/BetterQuesting-AAAAAAAAAAAAAAAAAAAF3A==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/ETOOMANYKEYS-AAAAAAAAAAAAAAAAAAAIYQ==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/MainQuestsandSec-AAAAAAAAAAAAAAAAAAAABA==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/MonsterHunter-AAAAAAAAAAAAAAAAAAAACw==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/MoronsManualforM-AAAAAAAAAAAAAAAAAAAHMQ==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/MushroomBiomesWh-AAAAAAAAAAAAAAAAAAAHKg==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/NumbersintheCorn-AAAAAAAAAAAAAAAAAAAJZg==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/ShieldUpdate-AAAAAAAAAAAAAAAAAAABwA==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/ShieldsUP-AAAAAAAAAAAAAAAAAAABvg==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/WhatsThat-AAAAAAAAAAAAAAAAAAAADg==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/YourFirstLongRan-AAAAAAAAAAAAAAAAAAABwg==.json
Labels: Type: Quest

#20808 Fixes Cubic Zirconium Quest
  config/betterquesting/DefaultQuests/Quests/Tier6LuV-AAAAAAAAAAAAAAAAAAAACA==/FetchingCubicZir-AAAAAAAAAAAAAAAAAAAKLA==.json
Labels: Type: Quest

#20935 Quest Updates for "To Play God" and "Starting Fusion"
  config/betterquesting/DefaultQuests/Quests/HowtoBee-AAAAAAAAAAAAAAAAAAAAFA==/ToPlayGod-AAAAAAAAAAAAAAAAAAAB-g==.json
  config/betterquesting/DefaultQuests/Quests/Tier6LuV-AAAAAAAAAAAAAAAAAAAACA==/StartingFusion-AAAAAAAAAAAAAAAAAAAEvA==.json
Labels: bug fix

#20941 Quick Quest Changes
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/YourFirstFlintTh-AAAAAAAAAAAAAAAAAAADYA==.json
  config/betterquesting/DefaultQuests/Quests/Tier4EV-AAAAAAAAAAAAAAAAAAAABg==/EmptyEpoxidBoard-AAAAAAAAAAAAAAAAAAAE0g==.json
Labels: bug fix

#21014 Various Quest Cleanup Changes + Boot Trigger Quests
  config/betterquesting/DefaultQuests/QuestLines/MassProcessing-AAAAAAAAAAAAAAAAAAAAEQ==/ShakeThatBooty-AAAAAAAAAAAAAAAAAAAFjA==.json
  config/betterquesting/DefaultQuests/QuestLines/MassProcessing-AAAAAAAAAAAAAAAAAAAAEQ==/SmeltAlltheThing-AAAAAAAAAAAAAAAAAAAAVQ==.json
  config/betterquesting/DefaultQuests/QuestLines/MassProcessing-AAAAAAAAAAAAAAAAAAAAEQ==/TakingThingsApar-XA467S8MQtCEPy6L23eEEA==.json
  config/betterquesting/DefaultQuests/QuestLines/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/NEINextLevelReci-hmQlN9vLSEOyCnCSOOXz7Q==.json
  config/betterquesting/DefaultQuests/QuestLines/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/NEINextLevelSear-kR1YVSq2R4WFu9KNM9lCZQ==.json
  config/betterquesting/DefaultQuests/QuestLines/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/NEIisEVENMOREPOW-pl7uw8oSRhe6L4DmTRfrOQ==.json
  config/betterquesting/DefaultQuests/QuestLines/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/NEIisMorePowerfu-AAAAAAAAAAAAAAAAAAAF4g==.json
  config/betterquesting/DefaultQuests/QuestLines/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/NotEnoughItemsNo-AAAAAAAAAAAAAAAAAAAF4Q==.json
  config/betterquesting/DefaultQuests/Quests/BiofortheMasses-AAAAAAAAAAAAAAAAAAAAFQ==/FractionedBenzen-AAAAAAAAAAAAAAAAAAAMJg==.json
  config/betterquesting/DefaultQuests/Quests/BiofortheMasses-AAAAAAAAAAAAAAAAAAAAFQ==/LargeSteelBoiler-AAAAAAAAAAAAAAAAAAAMIQ==.json
  config/betterquesting/DefaultQuests/Quests/BiofortheMasses-AAAAAAAAAAAAAAAAAAAAFQ==/TitaniumChemical-AAAAAAAAAAAAAAAAAAAMPA==.json
  config/betterquesting/DefaultQuests/Quests/HowtoGeneratePow-AAAAAAAAAAAAAAAAAAAACQ==/NaquadahBasedFue-AAAAAAAAAAAAAAAAAAALlQ==.json
  config/betterquesting/DefaultQuests/Quests/HowtoGeneratePow-AAAAAAAAAAAAAAAAAAAACQ==/NaquadahBasedFue-KHL_yx4XTKOtsHHZ60ZZpg==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/SomethingFromNot-AAAAAAAAAAAAAAAAAAAKbA==.json
  config/betterquesting/DefaultQuests/Quests/NoQuestLine/TriggerBootsofth-TakFzrg7Rfew3UivxIIzvw==.json
  config/betterquesting/DefaultQuests/Quests/NoQuestLine/TriggerElectricB-SsBfuluoR5m5D-dEuoKgsg==.json
  config/betterquesting/DefaultQuests/Quests/NoQuestLine/TriggerNanoBoots-5RrDJZBfTligyX8_wR-EDA==.json
  config/betterquesting/DefaultQuests/Quests/Tier4EV-AAAAAAAAAAAAAAAAAAAABg==/EVChemicalBath-AAAAAAAAAAAAAAAAAAAE5A==.json
Labels: Type: Quest
