Repository GTNewHorizons/GT-New-Horizons-Modpack, pull requests merged in 2025-05, with the labels that each got.

#19587 Quest for `Add color-based input seperation #4183`
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/ANotSoUsefulScan-pd68ySXjTD6yW1MN6x6swg==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/AVeryUsefulScann-AAAAAAAAAAAAAAAAAAADrQ==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/BetterThanDuctTa-AAAAAAAAAAAAAAAAAAAC8w==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/EBFInfo-AAAAAAAAAAAAAAAAAAAEmw==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/MoronsManualforE-AAAAAAAAAAAAAAAAAAAHPQ==.json
  config/betterquesting/DefaultQuests/QuestLines/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/PlayingwithColor-Z_jn8qzFQr6FWHzmt2i3Aw==.json
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/PlayingwithColor-Z_jn8qzFQr6FWHzmt2i3Aw==.json
Labels: Type: Quest, Mod: Betterquesting

#19697 Prevent endermen from griefing multiblocks
  config/hodgepodge.cfg
Labels: Type: Enhancement, Mod: Minecraft, Mod: Hodgepodge

#19720 Lootbag tiered trash & general cleanup
  config/EnhancedLootBags/LootBags.xml
  config/GTNewHorizons/CustomToolTips.xml
  config/txloader/load/dreamcraft/lang/en_US.lang
  config/txloader/load/enhancedlootbags/textures/items/ae3.png
  config/txloader/load/enhancedlootbags/textures/items/ae4.png
  config/txloader/load/enhancedlootbags/textures/items/computer2.png
  config/txloader/load/enhancedlootbags/textures/items/computer3.png
  config/txloader/load/enhancedlootbags/textures/items/computer4.png
  config/txloader/load/enhancedlootbags/textures/items/computer5.png
  config/txloader/load/enhancedlootbags/textures/items/legendary.png
  config/txloader/load/enhancedlootbags/textures/items/legendary_unique.png
Labels: Type: Enhancement

#19831 Update all lootbag icons to bappybags
  config/txloader/load/enhancedlootbags/textures/items/ae1.png
  config/txloader/load/enhancedlootbags/textures/items/ae2.png
  config/txloader/load/enhancedlootbags/textures/items/bee1.png
  config/txloader/load/enhancedlootbags/textures/items/bee2.png
  config/txloader/load/enhancedlootbags/textures/items/bee3.png
  config/txloader/load/enhancedlootbags/textures/items/bm1.png
  config/txloader/load/enhancedlootbags/textures/items/bm2.png
  config/txloader/load/enhancedlootbags/textures/items/bm3.png
  config/txloader/load/enhancedlootbags/textures/items/computer1.png
  config/txloader/load/enhancedlootbags/textures/items/crops.png
  config/txloader/load/enhancedlootbags/textures/items/floppies.png
  config/txloader/load/enhancedlootbags/textures/items/food1.png
  config/txloader/load/enhancedlootbags/textures/items/food2.png
  config/txloader/load/enhancedlootbags/textures/items/food3.png
  config/txloader/load/enhancedlootbags/textures/items/food4.png
  config/txloader/load/enhancedlootbags/textures/items/forest1.png
  config/txloader/load/enhancedlootbags/textures/items/forest2.png
  config/txloader/load/enhancedlootbags/textures/items/forest3.png
  config/txloader/load/enhancedlootbags/textures/items/gardens.png
  config/txloader/load/enhancedlootbags/textures/items/hee1.png
  config/txloader/load/enhancedlootbags/textures/items/hee2.png
  config/txloader/load/enhancedlootbags/textures/items/itemLootbagEpic.png
  config/txloader/load/enhancedlootbags/textures/items/itemLootbagLegendary.png
  config/txloader/load/enhancedlootbags/textures/items/itemLootbagRare.png
  config/txloader/load/enhancedlootbags/textures/items/itemLootbagUncommon.png
  config/txloader/load/enhancedlootbags/textures/items/legendary.png
  config/txloader/load/enhancedlootbags/textures/items/magic1.png
  config/txloader/load/enhancedlootbags/textures/items/magic2.png
  config/txloader/load/enhancedlootbags/textures/items/magic3.png
  config/txloader/load/enhancedlootbags/textures/items/magic4.png
  config/txloader/load/enhancedlootbags/textures/items/magic5.png
  config/txloader/load/enhancedlootbags/textures/items/rail1.png
  config/txloader/load/enhancedlootbags/textures/items/rail2.png
  config/txloader/load/enhancedlootbags/textures/items/rail3.png
  config/txloader/load/enhancedlootbags/textures/items/seeds.png
  config/txloader/load/enhancedlootbags/textures/items/space1.png
  config/txloader/load/enhancedlootbags/textures/items/space2.png
  config/txloader/load/enhancedlootbags/textures/items/space3.png
  config/txloader/load/enhancedlootbags/textures/items/witch1.png
  config/txloader/load/enhancedlootbags/textures/items/witch2.png
  config/txloader/load/enhancedlootbags/textures/items/witch3.png
  config/txloader/load/enhancedlootbags/textures/items/witch4.png
  config/txloader/load/enhancedlootbags/textures/items/witch5.png
Labels: Type: Texture

#19889 Redo SG+ quests
  config/betterquesting/DefaultQuests/QuestLines/EndgameGoals-AAAAAAAAAAAAAAAAAAAAHQ==/SeeYouNextTime-KNM9ICNAQIa8NaFoXwCC9g==.json
  config/betterquesting/DefaultQuests/QuestLines/EndgameGoals-AAAAAAAAAAAAAAAAAAAAHQ==/TheFactoryMustGr-OCv5OWo6Q9KDfqe1w0ET9w==.json
  config/betterquesting/DefaultQuests/Quests/EndgameGoals-AAAAAAAAAAAAAAAAAAAAHQ==/SeeYouNextTime-KNM9ICNAQIa8NaFoXwCC9g==.json
  config/betterquesting/DefaultQuests/Quests/EndgameGoals-AAAAAAAAAAAAAAAAAAAAHQ==/TheFactoryMustGr-OCv5OWo6Q9KDfqe1w0ET9w==.json
  config/betterquesting/DefaultQuests/Quests/EndgameGoals-AAAAAAAAAAAAAAAAAAAAHQ==/WhatHow-AAAAAAAAAAAAAAAAAAAKJg==.json
Labels: Type: Enhancement, Type: Quest

#19905 Update link to crashes on tracker
  config/bettercrashes.cfg
Labels: bug fix

#19992 Update ABS Quest
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/MallardRustSmell-AAAAAAAAAAAAAAAAAAAFiA==.json
Labels: Bug: Minor, Mod: GT
