Repository GTNewHorizons/GT-New-Horizons-Modpack, pull requests merged in 2025-09, with the labels that each got.

#21037 Makes primal crusher tooltip visible and functional
  config/IguanaTinkerTweaks/ToolOverride.cfg
  config/salisarcana/enhancements.cfg
Labels: bug fix

#21042 Adds EFR Kill Quests
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/HailtotheKing-AAAAAAAAAAAAAAAAAAAIPw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/HeyisThataFriend-AAAAAAAAAAAAAAAAAAAIHw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/SecretTheTradeFo-AAAAAAAAAAAAAAAAAAADlQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/SlaytheDragonAga-AAAAAAAAAAAAAAAAAAACXw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillBighor-AAAAAAAAAAAAAAAAAAALEA==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillBlaze-AAAAAAAAAAAAAAAAAAADkQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillEnderm-AAAAAAAAAAAAAAAAAAADkw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillFireBe-AAAAAAAAAAAAAAAAAAALGw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillForest-AAAAAAAAAAAAAAAAAAALEw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillFox-aZbgSe36TnSB3O4ZwkSlJw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillHellho-AAAAAAAAAAAAAAAAAAAIGw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillHusk-Wz1LEV9eQomLVXDpK18ysQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillImp-AAAAAAAAAAAAAAAAAAALJg==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillKobold-AAAAAAAAAAAAAAAAAAALGQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillLavaMo-AAAAAAAAAAAAAAAAAAALIw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillMagmaC-AAAAAAAAAAAAAAAAAAAIHA==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillNitroC-AAAAAAAAAAAAAAAAAAALJQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillPengui-AAAAAAAAAAAAAAAAAAALFQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillPigman-AAAAAAAAAAAAAAAAAAADjg==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillPinchB-AAAAAAAAAAAAAAAAAAALHg==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillRabbit-UfPfIUITQrG1E1G33eQ__g==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillRaven-AAAAAAAAAAAAAAAAAAALFA==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillRedcap-AAAAAAAAAAAAAAAAAAALGg==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillShulke-PpBmbfhnSGqI7R_Mm_vJGw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillSkelet-AAAAAAAAAAAAAAAAAAADkA==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillSkelet-AAAAAAAAAAAAAAAAAAALGA==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillSlime-AAAAAAAAAAAAAAAAAAAIHQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillSlimeB-AAAAAAAAAAAAAAAAAAALHA==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillSpider-AAAAAAAAAAAAAAAAAAADjw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillSquirr-AAAAAAAAAAAAAAAAAAALFg==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillStray-z6Xaal6yTVi4fqEFCChoGg==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillSwarmS-AAAAAAAAAAAAAAAAAAALHQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillWildDe-AAAAAAAAAAAAAAAAAAALEQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillWisp-AAAAAAAAAAAAAAAAAAALJA==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillWitch-AAAAAAAAAAAAAAAAAAACGQ==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillWraith-AAAAAAAAAAAAAAAAAAALHw==.json
  config/betterquesting/DefaultQuests/QuestLines/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillZombie-AAAAAAAAAAAAAAAAAAADkg==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/SlimeEvolved-AAAAAAAAAAAAAAAAAAADmw==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillForest-AAAAAAAAAAAAAAAAAAALEw==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillFox-aZbgSe36TnSB3O4ZwkSlJw==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillGhast-AAAAAAAAAAAAAAAAAAAD2Q==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillHusk-Wz1LEV9eQomLVXDpK18ysQ==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillRabbit-UfPfIUITQrG1E1G33eQ__g==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillShulke-PpBmbfhnSGqI7R_Mm_vJGw==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillStray-z6Xaal6yTVi4fqEFCChoGg==.json
Labels: Type: Quest

#21064 Rock Breaker Fix & Quest Patches
  config/betterquesting/DefaultQuests/QuestLines/Tier5IV-AAAAAAAAAAAAAAAAAAAABw==/OxalicAcid-AAAAAAAAAAAAAAAAAAAL_A==.json
  config/betterquesting/DefaultQuests/Quests/AppliedEnergisti-AAAAAAAAAAAAAAAAAAAAIw==/MoarPatterns-AAAAAAAAAAAAAAAAAAAJ5g==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillFox-aZbgSe36TnSB3O4ZwkSlJw==.json
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillStray-z6Xaal6yTVi4fqEFCChoGg==.json
  config/betterquesting/DefaultQuests/Quests/Tier1LV-AAAAAAAAAAAAAAAAAAAAAw==/PrisonGangsareOb-AAAAAAAAAAAAAAAAAAALLQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier4EV-AAAAAAAAAAAAAAAAAAAABg==/WaterFast-AAAAAAAAAAAAAAAAAAAKog==.json
  config/betterquesting/DefaultQuests/Quests/Tier5IV-AAAAAAAAAAAAAAAAAAAABw==/OxalicAcid-AAAAAAAAAAAAAAAAAAAL_A==.json
Labels: Type: Quest

#21031 Update Dangote Distillus quest
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/BetOnTheDistillu-AAAAAAAAAAAAAAAAAAAMQQ==.json
Labels: Type: Quest

#21092 Changes "Deamon" to "Daemon"
  config/EnhancedLootBags/LootBags.xml
  config/txloader/load/dreamcraft/lang/en_US.lang
Labels: bug fix

#21105 Enable Concrete in EFR configs
  config/etfuturum/blocksitems.cfg
Labels: Type: Enhancement, Mod: Et Futurum Requiem

#21151 Add collapsible NEI groups for Et Futurum Requiem
  config/NEI/collapsibleitems.cfg
Labels: safe for stable

#21158 Use manualSlotSelection and slotTypeOverrides in Baubles.cfg
  config/Baubles.cfg
Labels: Type: Enhancement, Mod: Baubles Expanded

#21141 Many Quest Fixes
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/NoASMRFromYourMa-AAAAAAAAAAAAAAAAAAAHnA==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/NoASMRFromYourMa-AAAAAAAAAAAAAAAAAAAHnA==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/APortableBarrel-EDtFbLVvQX2Y5mQp84W9bw==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/SteelChest-V4jinTYRSueIrEqn90dRzQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/GettingIron-AAAAAAAAAAAAAAAAAAAAJQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/WhenAllYouHaveis-AAAAAAAAAAAAAAAAAAAGyg==.json
  config/betterquesting/DefaultQuests/Quests/Tier10UEV-D_aFb1hFQH2PDkN0_KvAEQ==/OneLastTime-msIxGO5gQCWJPmEyp_JhtQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier1LV-AAAAAAAAAAAAAAAAAAAAAw==/LVAdvancedSteamB-AAAAAAAAAAAAAAAAAAAEbg==.json
  config/betterquesting/DefaultQuests/Quests/Tier8UV-AAAAAAAAAAAAAAAAAAAALQ==/CircuitsAssemble-AAAAAAAAAAAAAAAAAAAKSw==.json
  config/betterquesting/DefaultQuests/Quests/Tier9UHV-AAAAAAAAAAAAAAAAAAAALg==/AssemblingLiving-AAAAAAAAAAAAAAAAAAAKTA==.json
Labels: Type: Quest, bug fix

#21264 Light Botania Tab Reformat & Multiblock Quests
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/ABotanistsBestFr-AAAAAAAAAAAAAAAAAAAMug==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Accordingtoallkn-AAAAAAAAAAAAAAAAAAAMxg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/AdealwithAlfarIn-AAAAAAAAAAAAAAAAAAAMoA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Aglimpseintoawat-AAAAAAAAAAAAAAAAAAAMmw==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Alfheim-AAAAAAAAAAAAAAAAAAAMng==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/AntiMagnetism-AAAAAAAAAAAAAAAAAAAMuw==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/BetterGenerating-AAAAAAAAAAAAAAAAAAAMvw==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Botanicinfusion-AAAAAAAAAAAAAAAAAAAMnA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Chickenization-AAAAAAAAAAAAAAAAAAAMxQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/DarkEnergy-AAAAAAAAAAAAAAAAAAAMuA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/ExperiencedBotan-AAAAAAAAAAAAAAAAAAAMwQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/FlowerUnlimitedF-AAAAAAAAAAAAAAAAAAAMww==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Flowergrafting-AAAAAAAAAAAAAAAAAAAMlQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/FountainOfAlchem-MJgg4KT4Q1Gi-2hgQ9Sz6w==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/FountainOfConjur-1W0BrWncRuWbeTrPDVV99w==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/HydrobotanicEner-AAAAAAAAAAAAAAAAAAAMtw==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Isthisacombustio-AAAAAAAAAAAAAAAAAAAMuQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/MagicBlueDust-AAAAAAAAAAAAAAAAAAAMvg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/ManaFountain-EP-xPjNWRnKCWRJjGzySvQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Manadiamonds-AAAAAAAAAAAAAAAAAAAMmg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/MmmmmmSlimy-AAAAAAAAAAAAAAAAAAAMwg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/MoronsManualforM-AAAAAAAAAAAAAAAAAAAMtQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/ObligatoryLavaPo-AAAAAAAAAAAAAAAAAAAMxA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Pollinationbuddi-AAAAAAAAAAAAAAAAAAAMmQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/PureDaisy-AAAAAAAAAAAAAAAAAAAMlg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/RosesAreBloodRed-AAAAAAAAAAAAAAAAAAAMvQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/RoundoneFIGHT-AAAAAAAAAAAAAAAAAAAMnw==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/RoundtwoFIGHT-AAAAAAAAAAAAAAAAAAAMqQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Runes-AAAAAAAAAAAAAAAAAAAMrg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Shutdownyourcann-AAAAAAAAAAAAAAAAAAAMwA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/SolarPowerFloral-AAAAAAAAAAAAAAAAAAAMtg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/SyntheticElvenGa-V76lvP8lSsewcKfwxHirPw==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Terrasteel-AAAAAAAAAAAAAAAAAAAMnQ==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Therootsofmagic-AAAAAAAAAAAAAAAAAAAMlA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Upgradingyourman-AAAAAAAAAAAAAAAAAAAMmA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/ViolenceIsBlue-AAAAAAAAAAAAAAAAAAAMvA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Whatareallthesef-AAAAAAAAAAAAAAAAAAAMtA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Yourfirstmanapoo-AAAAAAAAAAAAAAAAAAAMlw==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Accordingtoallkn-AAAAAAAAAAAAAAAAAAAMxg==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/AdealwithAlfarIn-AAAAAAAAAAAAAAAAAAAMoA==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Aglimpseintoawat-AAAAAAAAAAAAAAAAAAAMmw==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Botanicinfusion-AAAAAAAAAAAAAAAAAAAMnA==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Flowergrafting-AAAAAAAAAAAAAAAAAAAMlQ==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/FountainOfAlchem-MJgg4KT4Q1Gi-2hgQ9Sz6w==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/FountainOfConjur-1W0BrWncRuWbeTrPDVV99w==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Isthisacombustio-AAAAAAAAAAAAAAAAAAAMuQ==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/ManaFountain-EP-xPjNWRnKCWRJjGzySvQ==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Manadiamonds-AAAAAAAAAAAAAAAAAAAMmg==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/MoronsManualforM-AAAAAAAAAAAAAAAAAAAMtQ==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Pollinationbuddi-AAAAAAAAAAAAAAAAAAAMmQ==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/RoundoneFIGHT-AAAAAAAAAAAAAAAAAAAMnw==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/RoundtwoFIGHT-AAAAAAAAAAAAAAAAAAAMqQ==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Shutdownyourcann-AAAAAAAAAAAAAAAAAAAMwA==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/SyntheticElvenGa-V76lvP8lSsewcKfwxHirPw==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Therootsofmagic-AAAAAAAAAAAAAAAAAAAMlA==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Upgradingyourman-AAAAAAAAAAAAAAAAAAAMmA==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Whatareallthesef-AAAAAAAAAAAAAAAAAAAMtA==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Yourfirstmanapoo-AAAAAAAAAAAAAAAAAAAMlw==.json
Labels: Type: Quest

#21328 New botania quests
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Asgardandelion-M7CE2a0uSOSZZsyNloB0zg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/CreativeManaTabl-ykz6BsyOTl2m_xfS28ofXA==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/LAPUTAXX-hHjJCOZtR-GM69bGHq845w==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/LaputaI-YO0JcMSOQVa3-WoWP1l78Q==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Loonium-r3fKz87vRk23Tv2TRGarvg==.json
  config/betterquesting/DefaultQuests/QuestLines/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/TheEverlastingGu-cejGOPB2QiuW5833Z5ontA==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Asgardandelion-M7CE2a0uSOSZZsyNloB0zg==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/CreativeManaTabl-ykz6BsyOTl2m_xfS28ofXA==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/LAPUTAXX-hHjJCOZtR-GM69bGHq845w==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/LaputaI-YO0JcMSOQVa3-WoWP1l78Q==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/Loonium-r3fKz87vRk23Tv2TRGarvg==.json
  config/betterquesting/DefaultQuests/Quests/FlowerPower-AAAAAAAAAAAAAAAAAAAAIA==/TheEverlastingGu-cejGOPB2QiuW5833Z5ontA==.json
  config/betterquesting/DefaultQuests/Quests/GettingAround-bAal8kZ3R8eRTwaHgbYkKA==/ElectricJetpack-AAAAAAAAAAAAAAAAAAACiw==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/DraconicEvolutio-AAAAAAAAAAAAAAAAAAABhA==.json
Labels: Type: Quest

#21457 Shulker Quest Updates (Do Not Merge Alone)
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CopperShulkerBox-dbax1OsmRpWMg6Pt4tE_ig==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/IronShulkerBox-StA9TvxxSi2n2c7wQdCAFA==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/ShulkerUpgrades-Zza5BrD7TduqKby_b3wQsQ==.json
  config/betterquesting/DefaultQuests/QuestLines/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/SilverShulkerBox-nc1Pqje3RIe_Yp6WoPOFzg==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/CopperShulkerBox-dbax1OsmRpWMg6Pt4tE_ig==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/DiamondShulkerBo-aIt1E54yQaSOg4CMz-Xegw==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/GoldShulkerBox-YFUK2QflT1G3_WC8XBp2Wg==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/IronShulkerBox-StA9TvxxSi2n2c7wQdCAFA==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/ShulkerUpgrades-Zza5BrD7TduqKby_b3wQsQ==.json
  config/betterquesting/DefaultQuests/Quests/BuildingBetterBa-AAAAAAAAAAAAAAAAAAAADQ==/SilverShulkerBox-nc1Pqje3RIe_Yp6WoPOFzg==.json
  config/betterquesting/DefaultQuests/Quests/CoinsCoinsCoins-AAAAAAAAAAAAAAAAAAAAEA==/Shulker-C8FHZDizTnax3tt7HvnkBw==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/APortableBarrel-EDtFbLVvQX2Y5mQp84W9bw==.json
Labels: Type: Quest

#21496 Update glove quest to reflect new bauble slots
  config/betterquesting/DefaultQuests/Quests/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/DontBurnYourFing-AAAAAAAAAAAAAAAAAAAAKQ==.json
Labels: Bug: Minor

#21530 Quick Quest Fixes (For 2.8.1)
  config/betterquesting/DefaultQuests/Quests/KillAlltheThings-AAAAAAAAAAAAAAAAAAAAJQ==/TimetoKillShulke-PpBmbfhnSGqI7R_Mm_vJGw==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/AQuickerWaytoGet-AAAAAAAAAAAAAAAAAAAHhg==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/SendingthePowerB-AAAAAAAAAAAAAAAAAAAEeQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier0StoneAge-AAAAAAAAAAAAAAAAAAAAAQ==/DontBurnYourFing-AAAAAAAAAAAAAAAAAAAAKQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier3HV-AAAAAAAAAAAAAAAAAAAABQ==/WorkstationsYour-AAAAAAAAAAAAAAAAAAAD9g==.json
Labels: Type: Quest

#21584 fix second anvil quest
  config/betterquesting/DefaultQuests/Quests/Tier05Steam-AAAAAAAAAAAAAAAAAAAAAg==/BetterMakethatTw-fRHWhPgpRyyvSRZpL1Pkbw==.json
Labels: Bug Fix

#21593 Add old IronChest textures as resource pack
  resourcepacks/Legacy IronChest Textures.zip
Labels: Mod: Iron Chests, safe for stable

#21600 Quest Patches - Ticket Based (for 2.8+)
  config/betterquesting/DefaultQuests/QuestLines/StoringandTransf-AAAAAAAAAAAAAAAAAAAAIQ==/EnergizedWireles-49YfyyG5R8KKRRUKePOqfQ==.json
  config/betterquesting/DefaultQuests/QuestLines/StoringandTransf-AAAAAAAAAAAAAAAAAAAAIQ==/StorageoftheGods-AAAAAAAAAAAAAAAAAAAKGg==.json
  config/betterquesting/DefaultQuests/Quests/GettingAround-bAal8kZ3R8eRTwaHgbYkKA==/BasicFlightPotio-4LY2S8QsSw-JdMGrF8FUsQ==.json
  config/betterquesting/DefaultQuests/Quests/MultipleQuestLine/PowerintheEther-AAAAAAAAAAAAAAAAAAAMow==.json
  config/betterquesting/DefaultQuests/Quests/StoringandTransf-AAAAAAAAAAAAAAAAAAAAIQ==/EnergizedWireles-49YfyyG5R8KKRRUKePOqfQ==.json
  config/betterquesting/DefaultQuests/Quests/Tier6LuV-AAAAAAAAAAAAAAAAAAAACA==/NetheriteMateria-9dt9i3MYRa-NB6KROtAYFA==.json
Labels: Type: Quest, Bug Fix
