Repository GTNewHorizons/GT-New-Horizons-Modpack, pull requests merged in 2025-07, with the labels that each got.

#20382 Remove chem plant manual
  config/betterquesting/DefaultQuests/Quests/MultiblockGoals-AAAAAAAAAAAAAAAAAAAADA==/PlayingWiththeBi-AAAAAAAAAAAAAAAAAAAJXQ==.json
Labels: Bug: Major, Type: Quest, Mod: Betterquesting

#20364 Platinum & Firestone Bee Quest Changes
  config/betterquesting/DefaultQuests/Quests/BeeBreeding-AAAAAAAAAAAAAAAAAAAAEw==/Firestone-AAAAAAAAAAAAAAAAAAADCQ==.json
  config/betterquesting/DefaultQuests/Quests/BeeBreeding-AAAAAAAAAAAAAAAAAAAAEw==/Platinum-AAAAAAAAAAAAAAAAAAAImw==.json
Labels: Type: Quest

#20647 Correct brittle charcoal fortune hint
  config/Betterloadingscreen/tips/en_US.txt
Labels: Mod: Better Loading Screen

#20663 Enable the enchantability of EMT tols
  config/EMT.cfg
Labels: Affects Balance
